*, *:before, *:after {
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
}
a:active, a:focus {
	outline: none; 
}
input, textarea {
	outline:none;
}
input:active, textarea:active {
	outline:none;
}
:focus {
	outline:none;
}
textarea {
	resize:none;
}
textarea {
	resize:vertical;
}
textarea {
	resize:horizontal;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 38rem;
	border-radius: 30px;
	margin: 0 auto 15rem;
	padding: 4rem;
	background-color: rgba(255,255,255,.2);
}
input {
	width: 30rem;
	height: 5rem;
	margin-bottom: 3rem;
	background-color: #fff;
	border: none;
	border-radius: 50px;
 	font-size: 1.8rem ;
 	padding-left: 1.5rem;
}
input::-webkit-input-placeholder {
	font-size: 1.8rem;
	line-height: 6rem;
	color: #999;
	padding-left: 3rem;
}
input::-moz-placeholder          {
	font-size: 1.8rem;
	line-height: 6rem;
	color: #999;
	padding-left: 3rem;
}
input:-moz-placeholder           {
	font-size: 1.8rem;
	line-height: 6rem;
	color: #999;
	padding-left: 3rem;
	}
input:-ms-input-placeholder      {
	font-size: 1.8rem;
	line-height: 6rem;
	color: #999;
	padding-left: 3rem;
}
input[type="button"] {
	margin-bottom: 0;
	font-size: 1.8rem;
	background-image: -moz-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    box-shadow: 0px 10px 30px 0px rgba(2, 2, 2, 0.35);
    color: #fff;
}
input[type="button"]:active {
	margin-bottom: 0;
	font-size: 1.8rem;
	background-image: -moz-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    box-shadow: 0px 5px 10px 0px rgba(2, 2, 2, 0.35);
    color: #fff;
}
ul {
	list-style: none;
}
li::before {
	display: inline-block;
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #4a90e2;
	margin-right: 5px;
	vertical-align: middle;
}
/* header */
.header-wrap {
	height: 100vh;
	min-height: 900px;
 	background: url(../img/header-bg.png) no-repeat center;
	 -webkit-background-size: cover;
	 background-size: cover;
	 position: relative;
}
.container {
	max-width: 90%;
	margin: 0 auto;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center
}
.logo {
	width: 20%;
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	margin: 2rem;
}
/* */
.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 70%;
}
.menu li {
	list-style: none;
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: 500;
}
.menu li:before {
	display: none;
}
.menu a {
	text-decoration: none;
	color: #fff;
}
.line {
	width: 100%;
	height: 1px;
	background-color: #fff;
}
.main-screen {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

}
.main-screen b {
	display: block;
	color: #fff;
	font-size: 3rem;
	text-align: center;
	margin: 12rem auto 10rem;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 38rem;
	border-radius: 30px;
	margin: 0 auto 15rem;
	padding: 4rem;
	background-color: rgba(255,255,255,.2);
}
input {
	width: 30rem;
	height: 5rem;
	margin-bottom: 3rem;
	background-color: #fff;
	border: none;
	border-radius: 50px;
 	font-size: 1.8rem ;
 	padding-left: 1.5rem;
}
input::-webkit-input-placeholder {
	font-size: 1.8rem;
	line-height: 6rem;
	color: #999;
	padding-left: 3rem;
}
input::-moz-placeholder          {
	font-size: 1.8rem;
	line-height: 6rem;
	color: #999;
	padding-left: 3rem;
}
input:-moz-placeholder           {
	font-size: 1.8rem;
	line-height: 6rem;
	color: #999;
	padding-left: 3rem;
	}
input:-ms-input-placeholder      {
	font-size: 1.8rem;
	line-height: 6rem;
	color: #999;
	padding-left: 3rem;
}
input[type="button"] {
	margin-bottom: 0;
	font-size: 1.8rem;
	background-image: -moz-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    box-shadow: 0px 10px 30px 0px rgba(2, 2, 2, 0.35);
    color: #fff;
}
input[type="button"]:active {
	margin-bottom: 0;
	font-size: 1.8rem;
	background-image: -moz-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    box-shadow: 0px 5px 10px 0px rgba(2, 2, 2, 0.35);
    color: #fff;
}

/* ABOUT */

.about {
	display: flex;
	justify-content: flex-start;
	padding-top: 4rem;
}
.about-img img {
	width: 100%;
	height: auto;
}
.about-text {
	display: flex;
	flex-direction: column;
	margin-left: 12rem;
	margin-top: 4.5rem;
}
.about-text span {
	font-size: 2.4rem;
	line-height: 4rem;
	margin-bottom: 5rem;
	max-width: 650px;

}
/* WUD */
.what-you-do {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section_header h2 {
	text-align: center;
	font-size: 3.2rem;
	line-height: 4rem;
	font-weight: 700;
}
.section_header h2::after {
	display: block;
	content: "";
	height: 10px;
	width: 80px;
    background-image: -webkit-linear-gradient(bottom, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
    background-image: linear-gradient(to top, rgb(112,122,255) 0%, rgb(224,119,255) 100%);
	margin: 4rem auto 3rem;
	border-radius: 50px;
}
.section_header span {
	text-align: center;
	font-size: 2.4rem;
	line-height: 4rem;
	font-weight: 300;
	margin-bottom: 7.5rem;
}
.what-you-do_list {
	display: flex;
	width: 100%;
}
.what-you-do_list ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	margin-top: 7.5rem;
	width: 100%;
	
}
.what-you-do_list li {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 17%;
}
.what-you-do_list li::before {
	display: none;
}
.what-you-do_list li::after {
	position: absolute;
	top: 35px;
	left: 200px;
	content: "";
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 10px;
}
 .what-you-do_list li:last-of-type::after {
 	content: none;
}
.what-you-do_list li .text {
	text-align: center;
	height: 60px;
	vertical-align: top;
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 300;
	padding-top: 7.5rem;
}
.seo {
	background-image: url(../img/sprite.png);
  	background-position: -80px 0px;
  	width: 80px;
  	height: 80px;
}
.shop {
  background-image: url(../img/sprite.png);
  background-position: 0px -80px;
  width: 80px;
  height: 72px;
}
.call {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 80px;
  height: 80px;
}
.dilivery {
  background-image: url(../img/sprite.png);
  background-position: -80px -80px;
  width: 80px;
  height: 53px;
}
.money {
  background-image: url(../img/sprite.png);
  background-position: -160px 0px;
  width: 66px;
  height: 80px;
}

/* Packs */
.our_packs {
	background-color: #f6fafb;
	margin-top: 11rem;
	padding-top: 6.5rem; 
}
.our_packs_items {
	display: flex;
	justify-content: space-between;
}
.our_packs_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	flex-basis: 400px;
	border-radius: 40px;
	background-color: #fff;
}
.our_packs_item h3 {
	font-size: 2.4rem;
	line-height: 4rem;
}
.our_packs_item h3::after {
	content: "";
	display: block;
	margin: 2rem auto 0;
	border-radius: 50px;
	width: 20px;
  	height: 5px;
  	background-color: #4a90e2;
}
.our_packs_item ul {
	list-style: none;
	margin-bottom: auto;
}
.our_packs_item li {
	list-style: #4a90e2;
	font-size: 1.8rem;
	line-height: 4rem;
}
.our_packs_item li span {
	font-size: 1.4rem;
	line-height: 2rem;
	color: #999999;
}
.our_packs_item_footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid #eaedee;
	margin-top: 3.5rem;
	width: 100%;
}
.our_packs_item span {
	font-size: 3.2rem;
	line-height: 6rem;
	font-weight: 700;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.our_packs_item input {
	margin-bottom: 30px;
}
.our_packs_item input:active {
	margin-bottom: 30px;
}
/* profit */

.profit_wrap {
	background: url(../img/profit-bg.png) no-repeat center;
	padding-top: 7rem;
	padding-bottom: 6rem;
}
.profit{
	display: flex;
	width: 100%;
	background-color: #ffffff;
	border-radius: 50px;
	padding: 6rem 9rem 5rem;
	margin-top: 5rem;
}
.profit li {
	font-size: 1.8rem;
	line-height: 3rem;
	padding-bottom: 1.5rem;
}
.profit li span {
	font-weight: 700;
}

/* rewiew */

.review_wrap {
	background-color: #f6fafb;
	padding-bottom: 8rem;

}
.review_slider_item img {
	display: block;
	height: auto;
	width: 90%;
	margin: 3rem auto 2rem;
	border: none;

}
.review_slider .slick-dots {
	margin: 0 auto;
	border: none;
}
.review_slider li:before {
	display: none;
}
/* check */
.check_wrap {
	display: flex;
	padding-top: 6rem;
	background-image: url(../img/check-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: -33px;

}

.check_wrap .section_header {
	color: #fff;
}
.check_wrap .section_header h2::after {
	background-image: none;
	background-color: #fff;
	margin-bottom: 8rem;
}
.check_form {
	background: #fff;
	text-align: center;
	margin-right: 0;
}
.check_form h2 {
	font-size: 2.4rem;
	line-height: 4rem;
	margin-top: 0;
}
.check_form input[type="text"] {
	border: 1px solid #e1e1e1;
}

/* Join */
.join_wrap {
	background-color: #717aff;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.join_wrap h2 {
	margin: 0;
	text-align: center;
	font-size: 3.2rem;
	line-height: 3rem;
	color: #fff;
}
.join_wrap form  {
	display: flex;
	flex-direction: row;
	width: 100%;
	background: none;

}
.join_form {
	margin: 0;
}
.join_form input[type="text"] {
	margin: 0;
	margin-right: 20px;
}
/* footer */
footer {
	background-color: #333;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.privacy a {
	font-size: 1.6rem;
	line-height: 6rem;
	color: #7e7e7e;
	width: 20%
}
.phone a {
	font-size: 2rem;
	line-height: 6rem;
	color: #fff;
	width: 20%;
	text-decoration: none;
}

/* m-menu */

.m-menu-link {
	display: none;
	color: #fff;
	font-size: 3rem;
}
.m-menu {
	padding: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	line-height: 3;
	background-color: #6e45e2;
	padding: left;
	z-index: 9999;
	transform: translateY(-120%);
	transition: 0.2s;
	margin-top: 110px;
}
.m-menu li::before {
	display: none;
}
.m-menu a {
	text-decoration: none;
	color: #fff;
}
.m-menu__active {
	transform: translateY(0%);
}
.close-menu {
    display: block;
    position: fixed;
    right: 0px;
    top: -118px;
    font-size: 4rem;
    line-height: 3;
    font-weight: 900;
    color: #fff;
    background: #6e45e2;
    width: 11rem;
    text-align: center;
}
.close-menu:hover {
	cursor: pointer;
}